.Container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 576px) {
  .Container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .Container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .Container {
    max-width: 1270px;
  }
}

@media (min-width: 1400px) {
  .Container {
    max-width: 1270px;
  }
}

.MainStyle {
  background-color: #ffffff;
}

.ContextTextHeroTitle {
  font-size: 56px;
  position: absolute;
  width: 15rem;
  z-index: 100;
}

.logo {
  font-size: 56px;
}

.WrapperHero {
  position: relative;
  width: 100%;
  height: 805px;
}

.WrapperHeroVeil {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -50px;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 55%,
    rgba(255, 255, 255, 1) 90%
  );
}

.WrapperImage {
  z-index: -1;
}

.BrushStyle {
  position: relative;
  top: -2rem;
}

.BrushStyleHero {
  position: relative;
  top: 3.5rem;
  left: -15rem;
}

.HeaderElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15rem;
}

.Centerh3 {
  display: flex;
  justify-content: center;
}

.ContentHero {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem;
  color: #3f454a;
}

.HeroBackground {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

.OurArticles {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem;
  align-content: center;
  color: #3f454a;
}

.OurArticles > h3 {
  font-size: 48px;
}

.social {
  display: flex;
  flex-direction: row;
}

.social > li {
  list-style: none;
  margin: 0.5rem;
}

.ContentTextHero {
  display: flex;
  flex-direction: column;
  width: 15rem;
  color: #3f454a;
}

.ArticlesFlexible {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ArticlesList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ArticlesItem {
  height: 100%;
}

.FilterArticles {
  flex-shrink: 0;
  width: 274px;
  min-height: 319px;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
}

.FilterArticles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.SelectedFilter {
  font-weight: 700 !important;
  color: #d8ad3d !important;
}

.FilterArticles li {
  font-weight: 400;
  color: #24272a;
}

.FilterArticles li + li {
  margin-top: 24px;
}

.FilterArticles button {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: inherit;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 300ms ease;
}

.ArticlesSection {
  position: relative;
  background-color: white;
}

.ArticlesWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ArticlesTitle {
  color: #3f454a;
  font-family: "Caveat";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
}

.ArticlesBrush {
  position: absolute;
  bottom: -60px;
}

.ArticlesProducts {
  width: 100%;
  margin-left: 30px;
}

.ArticlesCard > img {
  border-radius: 10px 10px 0 0;
  margin: 0 2rem 0 0;
}

/* Card Styles */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.07));
  transition: all 300ms ease;
}

.card:hover .title {
  color: #d8ad3d;
}

.card:hover .link {
  margin-top: 33px;
  opacity: 1;
  transition: all 300ms ease;
}

.picture {
  position: relative;
  height: 207px;
  border-radius: 10px 10px 0px 0px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 17.5px 30px;
  border-radius: 0px 0px 10px 10px;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #3f454a;
  transition: all 300ms ease;
}

.description {
  margin-top: 22px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3f454a;
}

.link {
  flex: 1;
  display: flex;
  align-items: flex-end;
  margin-top: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #d8ad3d;
  opacity: 0;
  transition: all 300ms ease;
}

.OrderedList {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 270px));
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Card Styles */

/* Contact */
.ContactSection {
  position: relative;
  background-color: white;
}

.ContactWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ContactTitle {
  color: #3f454a;
  font-family: "Caveat";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
}

.ContactBrush {
  bottom: -60px;
  position: absolute;
}

.FormContent {
  width: 100%;
}

.FormStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.FormInternal {
  display: flex;
  flex-direction: column;
  max-width: 726px;
  width: 100%;
  margin: auto;
}

.FormInternalStyle {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.FormGroup {
  width: 100%;
}

.FormLabel {
  display: block;
  margin-bottom: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #24272a;
}

.FormInput {
  width: 100%;
  padding: 12px 22px;
  border: 1px solid #cfcfcf;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3f4544;
  transition: all 300ms ease;
}

.FormInput:focus {
  outline: none;
  border-color: #d8ad3d;
}

.FormInput:hover {
  border-color: #d8ad3d;
}

.FormButton {
  display: inline-block;
  padding: 14.5px 57.9px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-radius: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: #d8ad3d;
  transition: all 300ms ease;
}

.FormButton:hover {
  background-color: #009cd9;
}

.ContactFormStyle {
  color: #3f454a;
  font-size: 48px;
}

@media (max-width: 768px) {
  .ArticlesFlexible {
    flex-direction: column;
  }

  .ArticlesTitle {
    font-size: 40px;
  }

  .FilterArticles {
    width: 100%;
  }

  .ArticlesProducts {
    margin-top: 30px;
    margin-left: 0;
  }

  .OrderedList {
    grid-template-columns: 1fr 1fr;
  }

  .ContactTitle {
    font-size: 40px;
  }

  .FormInternalStyle {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .OrderedList {
    grid-template-columns: 1fr;
  }
}