.ContextTextHeroTitle {
  font-size: 56px;
  position: absolute;
  width: 15rem;
  z-index: 100;
  
}

.logo {
  font-size: 56px;
}

.WrapperHero {
  position: relative;
  width: 100%;
}

.WrapperImage {
  z-index: -1;
}

.BrushStyle {
  position: relative;
  top: -2rem;
}

.BrushStyleHero {
  position: relative;
  top: 3.5rem;
  left: -15rem;
}


.HeaderElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15rem;
}

.Centerh3 {
  display: flex;
  justify-content: center;
}

.ContentHero {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem;
  color: #3F454A;
}

.OurArticles {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
    align-content: center;
    color: #3F454A;
}

.OurArticles > h3 {
  font-size: 48px;
}

.social {
  display: flex;
  flex-direction: row;
}

.social > li {
  list-style: none;
  margin: .5rem;
}

.ContentTextHero {
  display: flex;
  flex-direction: column;
  width: 15rem;
  color: #3F454A;
}
